<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/BookStore.png">
    <title>叮叮书店</title>
    <style>
        mark {
            background-color: aqua;
        }
        body {
            /*cursor: url();*/
        }
        #backImg{
            background-image: url("/static/img/background.jpg");
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            min-width: 1000px;
            z-index: -10;
            zoom: 1;
            background-color: #fff;
            background-repeat: no-repeat;
            background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
            background-position: center 0;
        }

        /*!* 1.将链接a转换为块级元素 *!*/
        a {
            /*display: block;*/
            width: 230px;
            height: 40px;
            background: #55585a;
            font-size: 14px;
            color: #fff;
            /* 没有下划线 */
            text-decoration: none;
            text-indent: 2ex;
            /* 垂直居中 */
            line-height: 40px;
        }
        /* 2.鼠标经过a给链接设置背景颜色 */
        a:hover {
            background-color: #ff6700;
        }
    </style>
</head>
<body>
    <!--背景-->
    <div id="backImg"></div>
    <!--页眉-->
    <div id="header-wrapper">
        <!--网站logo-->
        <header class="container">
            <div id="logo">
                <a href="index.html"><h1>叮叮书店</h1></a>
            </div>
            <div id="search">
                <form action="index.html" method="get">
                    <input type="search" placeholder="站内搜索">
                    <input type="submit" value="搜索">
                </form>
            </div>
        </header>
    <!--导航菜单-->
        <div id="nav">
            <ul>
                <li><a href="index.html">首页</a></li>
                <li><a href="category.html">书籍分类</a></li>
                <li><a href="specials.html">特刊降价</a></li>
                <li><a href="{% url 'contactUs' %}" target="_blank">联系我们</a></li>
                <li><a href="about.html">关于我们</a></li>
            </ul>
            <div id="menu-logo">
                <a href="{% url 'shopping' %}" target="_blank">购物车</a>
            </div>
        </div>
    </div>
    <!--内容-->
    <div id="content-wrapper" class="container">
        <!--左边内容-->
        <article>
            <!--图片切换-->
            <div id="adv"></div>
            <!--本周推荐-->
            <section>
                <h2 id="title1">本周推荐</h2>
                <section class="recommend">
                    <h3>《HTML5 权威指南》</h3>
                    <a href="#"><img src="/static/img/prod2.jpg" alt=""></a>
                    <div class="recommend-content">
                        <p>作为下一代Web标准，
                            <mark>HTML5</mark>
                            致力于位互联网开发者搭建更加便捷，开发的构建平台。业界普遍认为， 在未来几年内，
                            <mark>HTMl5</mark>
                            无疑将成为移动互联网的主宰者。本书是系统学习网页设计和移动设计的参考图书
                        </p>
                        <p>
                            Adam Freeman，曾在多家名企担任高级职务，现为畅销技术图书作家，著有多部C#，.NET和Java方面的大部头作品。
                            其中《ASP.NET 4高级程序设计（第4版）》、《精通ASP.NET MVC3框架（第3版）》销量均在同品种中名列前茅，备
                            受读者推崇。Freeman专门为网页开发新手和网页设计师打造的经典参考书，这本书秉承作者的一贯风格，幽默风趣、简
                            约凝练、逻辑性强，是广大Web开发人员的必读经典。
                        </p>
                    </div>
                    <div class="cartmore">
                        <a class="cart" href="cart.html">加入购物车</a>
                        <a href="details.html" class="btn">详细内容</a>
                    </div>
                </section>
            </section>
            <section class="recommend">
                <h3>《JavaScript权威指南》</h3>
                <a href=""><img src="/static/img/prod2.jpg" alt=""></a>
                <div class="recommend-content">
                    <p>经典的Javascript工具书，从1996年以来，本书已经成为Javascript程序员心中的《圣经》。</p>
                    <p>David Flanagan，是一名程序员，也是一名作家。他在o' Reilly出版的其他畅销书还包括
                        《JavaScript Procket Reference》，《The Ruby Programming Language》，以及
                        《Java in a Nutshell》。Daivd毕业于麻省理工学院，获得计算机科学与工程学位。他和妻子
                        和孩子一起生活在西雅图和温哥华之间的美国太平洋西北海岸。</p>
                </div>
                <div class="cartmore">
                    <a class="cart" href="cart.html">加入购物车</a>
                    <a href="details.html" class="btn">详细内容</a>
                </div>
            </section>
            <!--最近新书-->
            <h2 title="title2">最近新书</h2>
            <section class="article-section">
                <h3>《HTML5+CSS3从入门到精通》</h3>
                <div class="effect-1">
                    <div class="img-box">
                        <img src="/static/img/prod4.jpg" alt="HTM5+CSS3从入门到精通">
                    </div>
                    <div class="text-decs">
                        <h3>《HTML5+CSS3从入门到精通》</h3>
                        <p>《HTML5 + CSS3从入门到精通》通过基础知识+中小实例+综合案例开发，
                            讲述了用HTML5+CSS3设计构建网站的必备知识，相对于权威指南，高级
                            程序设计，开发指南同类图书，本书是一本适合快速入手的自学教程。
                        </p>
                        <a href="cart.html" class="btn">加入购物车</a>
                        <a href="details.html" class="btn">详细内容</a>
                    </div>
                </div>
            </section>
            <section class="article-section">
                <h3>《响应式Web设计》</h3>
                <div class="effect-1">
                    <div class="img-box">
                        <img src="/static/img/prod5.jpg" alt="响应式Web设计">
                    </div>
                    <div class="text-decs">
                        <h3>《响应式Web设计》</h3>
                        <p>《HTML5 + CSS3从入门到精通》通过基础知识+中小实例+综合案例开发，
                            讲述了用HTML5+CSS3设计构建网站的必备知识，相对于权威指南，高级
                            程序设计，开发指南同类图书，本书是一本适合快速入手的自学教程。
                        </p>
                        <a href="cart.html" class="btn">加入购物车</a>
                        <a href="details.html" class="btn">详细内容</a>
                    </div>
                </div>
            </section>
            <!--最近促销-->
            <section class="article-section">
                <h2 id="title3">最近促销</h2>
                <section>
                    <h3>《HTML5 和 CSS3 实例教程》</h3>
                    <a href="#"><img class="promotion" src="/static/img/prod1.jpg" width="280" alt="HTML5和CSS3实例教程"></a>
                    <div>
                        <div class="cartmore">
                            <a class="cart" href="cart.html">加入购物车</a>
                            <a href="details.html" class="btn">详细内容</a>
                        </div>
                    </div>
                </section>
                <section>
                    <h3>《JavaScript 权威指南》</h3>
                    <a href="#"><img class="promotion" src="/static/img/prod3.jpg" alt="JavaScript 权威指南"></a>
                    <div>
                        <div class="cartmore">
                            <a class="cart" href="cart.html">加入购物车</a>
                            <a href="details.html" class="btn">详细内容</a>
                        </div>
                    </div>
                </section>
            </section>
        </article>
        <!--右边边栏区-->
        <article>
            <aside>
            <!--广告区-->
            <section id="advert">
                <a href="#"><img src="/static/img/ad1.jpg" alt="广告" width="80" height="80"></a>
                <a href="#"><img src="/static/img/ad2.jpg" alt="广告"></a>
                <a href="#"><img src="/static/img/ad3.jpg" alt="广告"></a>
            </section>
            <HR align=center width=300 color=#987cb9 SIZE=1>
            <div class="border"><img src="/static/img/border.gif" alt="分割线"></div>
            <!--畅销图书-->
            <section id="best-selling">
                <h2 id="title7">畅销图书</h2>
                <ul>
                    <li>
                        <a href="#" class="selling">查令十字街84号...</a>
                        <div class="curr">
                            <div class="p-img">
                                <a href="#" title="查令十字街84号...">
                                    <img width="80" height="80" src="/static/img/selling1.jpg" alt="">
                                </a>
                            </div>
                            <div class="p-name">
                                <a href="#" class="selling">查令十字街84号...</a>
                                <strong>￥42.90</strong>
                                <del>￥55.10</del>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="selling">分享经济...</a>
                        <div class="curr">
                            <div class="p-img">
                                <a href="#" title="查令十字街84号...">
                                    <img width="80" height="80" src="/static/img/selling2.jpg" alt="">
                                </a>
                            </div>
                            <div class="p-name">
                                <a href="#" class="selling">分享经济...</a>
                                <strong>￥45.70</strong>
                                <del>￥52.40</del>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
            <HR align=center width=300 color=#987cb9 SIZE=1>
            <div class="border"><img src="/static/img/border.gif" alt="分割线"></div>
            <!--图书分类 -->
            <section class="aside-section">
                <h2 id="title4">图书分类</h2>
                <ul>
                    <li><a href="category.html">编程语言</a></li>
                    <li><a href="category.html">数据库</a></li>
                    <li><a href="category.html">网页制作</a></li>
                    <li><a href="category.html">考试认证</a></li>
                </ul>
            </section>
            <!--合作伙伴-->
            <section class="aside-section">
                <h2 id="title5">合作伙伴</h2>
                <ul>
                    <li><a href="#">伙伴1</a></li>
                    <li><a href="#">伙伴2</a></li>
                    <li><a href="#">伙伴3</a></li>
                    <li><a href="#">伙伴4</a></li>
                </ul>
            </section>
            <HR align=center width=300 color=#987cb9 SIZE=1>
            <div class="border"><img src="/static/img/border.gif" alt="分割线"></div>
            <!--关于书店-->
             <section class="about">
                 <h2 id="title6">关于本店</h2>
                 <img src="/static/img/about.gif" alt="叮叮书店">
                 <p>叮叮书店成立于...</p>
             </section>
            </aside>
        </article>
    </div>
    <!--页脚-->
    <div id="footer-wrapper">
        <!--页脚导航-->
        <footer class="container">
            <a href="index.html">首页</a>
            <a href="about.html">关于我们</a>
            <a href="#">服务条款</a>
            <a href="#">隐私策略</a>
            <a href="contact.html">联系我们</a>
        </footer>
    </div>
    <!--版权标志-->
    <section id="copyright" class="container">
        Copyright （c） 叮叮书店...
        <address>通讯地址：清华...8</address>
    </section>
    <script>
        // let list = ["#0000C6", "#009393", "#01B468", "#CA8EFF", "#D94600"]
        let list2 = ["#F0FFF0", "#DFFFDF", "#CEFFCE", "#BBFFBB", "#A6FFA6", "#93FF93", "#79FF79",
            "#53FF53", "#28FF28", "#00EC00", "#00DB00", "#00BB00", "#00A600", "#009100", "#007500", "#006000"]
        let list3 = [
            "#006000", "#FF00FF", "#9F35FF", "#0080FF", "#00E3E3", "#02F78E", "#53FF53", "#C4C400"
        ]
        let i = 0
        setInterval(() => {
            if (i > list3.length) {
                i = 0
            }
            document.body.style.color = list3[i++]
        }, 200)

    </script>
</body>

</html>